<h1>Productos en Tiempo Real</h1>
<div id="productList" style="display:flex; flex-wrap:wrap; gap:16px;"></div>


<h2>Agregar Producto</h2>
<form id="productForm">
<input id="title" placeholder="Título" required>
<input id="price" type="number" placeholder="Precio" required>
<input id="code" placeholder="Código" required>
<input id="stock" type="number" placeholder="Stock" required>
<input id="category" placeholder="Categoría" required>
<button type="submit">Agregar</button>
</form>

<h2>Eliminar Producto</h2>
<form id="deleteForm">
<input id="deleteId" placeholder="ID del producto">
<button type="submit">Eliminar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
